*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    opacity: 0.8;
}

/* responsible for navigation bar styling */

nav{
    background: #FFB627;
    height: 80px;
    width: 100%;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 22px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}

a.active, a:hover{
    color:white;
}

.logoContainer{
    border-color: gray;
    text-align: center;
    width: 30%;
    height: 30%;
}

img{
    width: 300px;
    height: auto;
}


/* Baked Sisig */

.navBakedSisig{
    
    position: absolute;
    width: 517px;
    height: 117px;
    left: 10px;
    top: 15px;

    display: inline;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 117px;

    color: #000000;

    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
/* responsible for login page styling */

.loginCenter{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.detailsContainter{
    padding: 16px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-error-msg{
    opacity: 0;
}

button {
    background-color: #FFB627;
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*Responsible for home page styling*/

.line {
    color: #D3C330;
    font-size: 60px;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: bold;
    text-align: center;
}

.homeLogo {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*Responsible for menu page styling*/

button.customerSignUp, button.adminSignUp {
    width: 50%
}

.containerCenter{
    text-align:center;
}

.textAlign25Percent{
    text-indent: 15%;
}

.columnForMenu{
    display:inline-block;
    flex: 33%;
    padding: 40px;
}

/*Responsible for select item page styling*/
.row {
    display: flex;
}

.columnForItems{
    display:inline-block;
    flex: 50%;
    padding: 0px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.styleButton {
    display: inline-block;    
    background-color: #D9D9D9;
    border: none;
    color: black;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
.styleCursor {
    cursor: pointer;
 }

.circleButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.boxButton{    
    border-radius: 12px;
    width: 50%;
}

/*View Orders*/

.product-table{
    display:block;
    
}
.view-order-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    width: 1086px;
    height: auto;
    top: 220px;
    font-family: sans-serif;
   /* position:fixed;*/

    

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
   
}

.total-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    width: 1086px;
    height: auto;
    top: 800px;
    font-family: 'Roboto';
    font-size:52px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.checkout{
    border-radius: 10px;
    background-color: #D9D9D9;
}

.prod-img{
    width: 100px;
}
.row-products{
    display: flex;
}

.column {
    float: left;
    
}

.image{
    width: 150px;
}

.price{
    width: 160px;
}
.name{
    width: 220px;
}
.minus{
    width: 20px;
}
.number{
    width: 100px;
    text-align: center;
    
}
.plus{
    width: 20px;
}
.delete{
    width: 100px;
    align-items: right;
    position:absolute;
    left:900px;
}

.row-products:after{
    content:"";
    display: table;
    clear: both;
}

.minus-btn{
    border-radius: 50px;
    background-color:grey;
    text-align: center;
    
}

.plus-btn{
    border-radius: 50px;
    background-color:grey;
    text-align: center;
}

.prod-del{
    width: 50px;
  
}

.name-container{
    position: absolute;
    left: 50%;
    transform: translate(-90%, 0);
    top: 200px; 
}
.row-names{
    display: flex;
    
}

.name-col{
    float: left;
}

.blank{
    width:150px;
}

.total-price{
    width:190px;
}


.order-name{
    width: 245px;
}

/*.blank-1{
    width:20px;
}*/

.quantity{
    width: 5px;
}

/*.blank-2{
    width:20px;
}*/

.row-names:after{
    content:"";
    display: table;
    clear: both;

    
}

.radio-container {
    margin-left: 20%;
}
  




/* Hide the default radio button */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin: 0;
  }
  
  /* Create custom radio button */
  input[type="radio"]::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  /* Style the custom radio button when selected */
  input[type="radio"]:checked::before {
    background-color: #FFB627;
    border-color: #2196F3;
  }
  
  /* Add hover effect to custom radio button */
  input[type="radio"]::before:hover {
    border-color: #2196F3;
  }
  
  /* Style the label for the custom radio button */
  .radio-container label {
    display: inline-block;
  
    vertical-align: middle;
    font-size: 20px;
    color: #444;
    cursor: pointer;
  }
  
  /* Add hover effect to label */
  label:hover {
    color: #FFB627;
  }

  .idImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  /* .outerImageContainer{
    width:308px;
    height:290px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  } */

 .profileImg{
    width: 310px;
    height: 310px;
    position: absolute;
    padding: 25px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    left: 77px;
    top: 150px;

 }



 .userName{
    
    position: absolute;
    width: 389px;
    height: 60px;
    left: 482px;
    top: 178px;

    background: #D9D9D9;
    border-radius: 10px;
    visibility: visible;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;
 }

 .editFirstName{
    
    position: absolute;
    max-width: 389px;
    height: 60px;
    left: 482px;
    top: 170px;

    background: #D9D9D9;
    border-radius: 10px;
    visibility: hidden;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;
 }

 .editSurname{
    
    position: absolute;
    max-width: 389px;
    height: 60px;
    left: 900px;
    top: 170px;

    background: #D9D9D9;
    border-radius: 10px;
    visibility: hidden;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;
 }
 

 .userNo{
    position: absolute;
    width: 389px;
    height: 60px;
    left: 482px;
    top: 279px;

    background: #D9D9D9;
    border-radius: 10px;
    visibility: visible;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;

 }

 .editUserno{
    position: absolute;
    max-width: 389px;
    height: 60px;
    left: 482px;
    top: 271px;
    visibility: visible;
    background: #D9D9D9;
    border-radius: 10px;
    visibility: hidden;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;
 }
 .userAddress{
    position: absolute;
    display: inline-block;
    /* width: auto; */
    width: 389px;
    height: 60px;
    left: 482px;
    top: 380px;
    visibility: visible;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    /* overflow: hidden; */
    white-space: nowrap;

    padding: 5px;

    background: #D9D9D9;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000; 

 }

 .editUseraddress{
    position: absolute;
    
    max-width: 389px;
    height: 60px;
    left: 482px;
    top: 372px;

    visibility: hidden;

    background: #D9D9D9;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000; 
 }

.userAddress::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
.userAddress::-webkit-scrollbar{
    background-color: transparent;
}

.userAddress::-webkit-scrollbar-thumb {
    background-color: darkgrey;   
    border-radius: 20px;      
    border: 1px solid transparent;  
    
  }
 
 .bottomBorderProfile{
    position: absolute;
    width: 1920px;
    height: 79px;
    left: 0px;
    top: 467px;
    background: #FFB627;
 }


 

 .editProfile{
    box-sizing: border-box;
    
    visibility: visible;
    position: absolute;
    width: 235px;
    height: 47px;
    left: 113px;
    top: 483px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
 }

 .saveProfile{
    box-sizing: border-box;

    visibility: hidden;
    position: absolute;
    width: 235px;
    height: 47px;
    left: 113px;
    top: 483px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
 }

 

 /* View List of Orders: Admin Page */
#orders-table {
    margin-left: 15%;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-collapse: collapse;
    width: 70%;
}

#orders-table tr:nth-child(even){background-color: #f2f2f2;}

#orders-table tr:hover {background-color: #ddd;}

#orders-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #FFB627;
    color: black;
  }

#orders-customer {
    border-collapse: collapse;
    text-align: center;
    width: 70%;
}

#orders-customer td {
    padding-top: 12px;
    padding-bottom: 12px;
}

#select-order-status, #select-delivery-status {
    font-size: 16px;
    border: 0px;
}